</div>
    </div>


<!-- Resources -->

<script type="text/javascript" src="../assets/scripts/jquery.notify.js"></script>
<script type="text/javascript" src="../assets/scripts/main.js"></script>
<script type="text/javascript" src="../assets/scripts/other.js"></script>

