<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Santé de Fer | Medecin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    
	<link href="../main.css" rel="stylesheet">
<link href="../style.css" rel="stylesheet">
<script type="text/javascript" src="../assets/scripts/jquery.min.js"></script>
<script type="text/javascript" src="../assets/scripts/other.js"></script>
	<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow-x:hidden; }

body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}
select {
	background: transparent !important;
	outline: none;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}


    </style>
</head>
<body>
<div class="form">
      
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Inscription</a></li>
        <li class="tab"><a href="#login">Connexion</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
          <h1>Bienvenue parmi nous</h1>
          
          <form action="/medecin/createMedecin" method="post" enctype="multipart/form-data">
          
          <div class="top-row">
            <div class="field-wrap">
              
              <input type="email" name="email" placeholder='Email' required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              
              <input type="text" placeholder='Nom Complet' name="name" required autocomplete="off"/>
            </div>
          </div>

		  <div class="top-row">

			<div class="field-wrap">
				
				<input type="number" placeholder='Contact' name="numero" required autocomplete="off"/>
			</div>
			<div class="field-wrap">
				
				<input type="text" placeholder='Matricule Medical' name="matricule" required autocomplete="off"/>
			</div>
          </div>
          <div class="top-row">
			<div class="field-wrap">
				
				<input type="password" name="password" placeholder='Mot de passe' required autocomplete="off"/>
			</div>

			<div class="field-wrap">
				
				<div class="position-relative form-group">
								<select name="typeMedecin" id="typeMedecin" class="form-control">
									<option disabled>Type de compte</option>
									<option value='MEDECIN_FULL'>Medecin Propriétaire</option>
									<option value='MEDECIN_PARTIEL'>Medecin Prestataire</option>
									<option value='INFIRMIER'>Infirmier</option>

								</select>
							</div>
				</div>
			
			</div>

		  	<div class='container-fluid mt-3'>
				<div class="row">
					<div class="col-md-6">
						<div class="position-relative form-group">
							<select name="speciality" id="exampleSelect" class="form-control">
							<option disabled>Spécialité</option>
																	<% info.allSpeciality.forEach(function(value){ %>
																	<option value="<%= value._id %>"><%= value.name %></option>
																	<% }); %>
																	
							</select>
						</div>
					</div>
					<div class="col-md-6">
														<div class="position-relative form-group">
															<select name="address" id="address" class="form-control">
																
																<option disabled>Commune</option>
																<option value="Abobo">Abobo</option>
																<option value="Adjamé">Adjamé</option>
																<option value="Atécoubé">Atécoubé</option>
																<option value="Cocody">Cocody</option>
																<option value="Koumassi">Koumassi</option>
																<option value="Marcory">Marcory</option>
																<option value="Plateau">Plateau</option>
																<option value="Port-Bouet">Port-Bouet</option>
																<option value="Treichville">Treichville</option>
																<option value="Yopougon">Yopougon</option>
																
															</select>
														</div>
					</div>	
				</div>
			</div>

			<div class="field-wrap">
				
				<input type="file" name="images" placeholder='Photo de profil' required autocomplete="off"/>
			</div>
		  

			
          
          <button type="submit" class="button button-block"/>S'inscrire</button>
          
          </form>

        </div>
        
        <div id="login">   
          <h1>Bon Retour</h1>
          
          <form action="/medecin/login" method="post">
          
            <div class="field-wrap">
           
            <input type="email" name="email" required autocomplete="off" placeholder='Email'/>
          </div>
          
          <div class="field-wrap">
            
            <input type="password" name="password" required autocomplete="off" placeholder='Mot de passe'/>
          </div>
          
          <p class="forgot"><a href="#">Mot de passe oublié ?</a></p>
          
          <button type="submit" class="button button-block">Connexion</button>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div>
</body>
</html>